@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
}
#submit:hover, .hire_btn:hover{
    color: yellow;
}


@media (min-width: 390px){
    body{
        padding: 10px;
    }
    .aboutme_text{
        font-size: 0.8em;
        
    }
    footer,p{
        font-size: 0.95em;
    }
}